<h1>Listing questions</h1>

<table>
  <tr>
    <th>Dimension</th>
    <th>Number</th>
    <th>Description</th>
  </tr>

<% @questions.each do |question| %>
  <tr style="background-color:<%= cycle('#CCC','white')%>; border: 1px solid black;">
 
    <td><%=h question.survey_info %></td>
    <td><%=h question.number %></td>
    <td><%=h question.description %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New question', new_question_path %>
