
<% form_for(@institution) do |f| %>
  <%= f.error_messages %>

  <p>
    Nome<br />
    <%= f.text_field :name %>
  </p>

  <h2>Níveis de Atendimento</h2>

  <% @service_levels.each do |service_level| %>
     <%= check_box_tag "institution[service_level_ids][]", service_level.id, @institution.service_levels.include?(service_level) %>  
     <%= service_level.name %> <br />
  <% end %>  
  <p> 
    <%= f.submit 'Salvar' %>
  </p>
<% end %>
