<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <%= wicked_pdf_stylesheet_link_tag "password_letter" %>
  <script>
    function number_pages() {
      var vars={};
      var x=document.location.search.substring(1).split('&');
      for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
      var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
      for(var i in x) {
        var y = document.getElementsByClassName(x[i]);
        for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
      }
    }
  </script>
</head>
<body onload="number_pages()">
<div id="container">
<% @passwords.each do |password| %>
<div id="line_items">
  <br /><br /><br /><br /><br />
  <center><h1><%= password.school.name %></h1></center>
  <br /><br /><br /><br />
  <p>A avaliação educacional da rede municipal de Osasco conta com um site exclusivo, no qual  cada segmento deverá inserir separadamente os dados obtidos no processo de 2011. Recomendamos que neste momento, a pessoa designada para a inserção já tenha o gabarito geral do segmento preenchido com a soma das respostas registradas nos gabaritos parciais.</p>
  <p>Para que a inserção seja considerada completa, o sistema deverá receber as seguintes informações:</p>
  <ol>
    <li>Síntese das notas atribuídas pelo segmento com total de respondentes;</li>
    <li>Síntese dos quadros indicando práticas consolidadas e não consolidadas;</li>
    <li>Listas de presença.</li>
  </ol>
	<p>O acesso para o sistema se dará pelo site:</p>
  <p><center><div id="border_text"><a href="http://www.avaliaosasco.paulofreire.org">http://www.avaliaosasco.paulofreire.org</a></div></center></p>
	<p>Este site funcionará ininterruptamente do dia 31/10/2011 ao dia 18/11/2011 e poderá ser acessado a partir de qualquer computador conectado à internet.</p>
	<p>Após acessar o site, o responsável deverá selecionar o nome da unidade educacional junto com o nível ou modalidade de ensino correspondente e preencher o campo senha. Feito isso, o sistema abrirá uma tela  confirmando o segmento cujos dados serão inseridos e na qual deverá ser preenchida a identificação (nome) do usuário.</p>
	<p>O preenchimento se dará sequencialmente por dimensão e a cada resposta ou dimensão completada, o usuário terá a chance de rever os dados preenchidos e editá-los em caso de erro. Uma vez que a dimensão tenha sido revisada, o usuário deverá salvar as informações e iniciar o preenchimento dos dados de uma nova dimensão.</p>
	<p>Em caso de dúvidas ou qualquer problema com o sistema, o usuário poderá entrar em contato com a equipe do Suporte Técnico do Sistema de Avaliação, de segunda a sexta, das 9h às 18h  no telefone: (11) 3024-3654.</p>
	<p>A senha de acesso para o nível <strong><%= password.service_level.name %></strong>, segmento <strong><%= password.segment.name %></strong> da sua unidade é:</p>
  <p><center><div id="border_text"><strong><%= password.password %></strong></div></center></p>
  <br /><br /><br /><br /><br /><br /><br />
  <p>Atenciosamente</p><br /><br />
  <p>Equipe de Avaliação<br />Instituto Paulo Freire</p>
  <div style="visibility:hidden;"><span class="page"></span><span class="topage"></span></div>
</div>
<% end %>
</div>
</body>