<h1>New survey</h1>

<% form_for(@survey) do |f| %>
  <%= f.error_messages %>

Nível de Atendimento<br />
<%= f.select "service_level_id", options_from_collection_for_select(@service_levels, 'id', 'name') %>
<br />
Segmento<br />
<%= f.select "segment_id", options_from_collection_for_select(@segments, 'id', 'name') %>
<br />
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', surveys_path %>
