<h1>New indicator</h1>

<% form_for(@indicator) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    Dimensao:<br />
    <%= f.select "dimension_id", @dimensions.collect {|d| [ d.to_s,d.id ] } %>
  </p>
  <p>
    Nivel de Atendimento:<br />
    <%= f.select "service_level_id", @service_levels.collect {|sl| [ sl.to_s,sl.id ] } %>
  </p>
  <p>
    Segmento:<br />
    <%= f.select "segment_id", @segments.collect {|s| [ s.name,s.id ] } %>
  </p>
  <p>
  <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', indicators_path %>
