<h1>Listing answers</h1>

<table>
  <tr>
    <th>User</th>
    <th>Survey</th>
    <th>Question</th>
    <th>Zero</th>
    <th>One</th>
    <th>Two</th>
    <th>Three</th>
    <th>Four</th>
    <th>Five</th>
  </tr>

<% @answers.each do |answer| %>
  <tr>
    <td><%=h answer.user_id %></td>
    <td><%=h answer.survey_id %></td>
    <td><%=h answer.question_id %></td>
    <td><%=h answer.zero %></td>
    <td><%=h answer.one %></td>
    <td><%=h answer.two %></td>
    <td><%=h answer.three %></td>
    <td><%=h answer.four %></td>
    <td><%=h answer.five %></td>
    <td><%= link_to 'Show', answer %></td>
    <td><%= link_to 'Edit', edit_answer_path(answer) %></td>
    <td><%= link_to 'Destroy', answer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New answer', new_answer_path %>